<div class="row">
	<div clas="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
					<h2 class="red"> ¿Seguro que quiere eliminar <%= objTaxonomy.name %>?  </h2>
	                <div class="clearfix"></div>
			</div>
			<div class="x_content">
				<p>Esta acción no se puede deshacer.</p>
				
				<ul class="nav  nav-pills">
					<li><a href="" class="btn btn-success" >Eliminar</a></li>
					<li><a href="/taxonomies" class="btn btn-info" >Cancelar</a></li>
				</ul>
			</div>
		</div>
	</div>

</div>